# Postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=trackerdb
POSTGRES_PORT=5432

# App
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
